.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.title h4 {
    margin: 0;
}

.more {
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
}

.time {
    display: flex;
    margin-bottom: 10px;
}